.hero-container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    180deg,
    #3232e2 0%,
    rgba(50, 50, 226, 0.76) 71.77%,
    rgba(50, 50, 226, 0.61) 100%
  );
}

.hero-txt-wrap {
  position: relative;
  top: 35%;
  left: 8%;
}
.hero-txt-wrap h1 {
  width: 53%;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  display: flex;
  align-items: center;
  color: #ffffff;
  color: #99fce4;
}

.hb-link {
  text-decoration: none;
}

.hero-button-wrap {
  margin-top: 20px;
}

@media screen and (max-width: 950px) {
  .hero-txt-wrap h1 {
    font-size: 45px;
  }
}
