.loadingpage-wrap {
  width: 100vw;
  height: 100vh;
  background: #5b03ff;
}
.loader-svg {
  width: 30%;
  height: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
