.hero-main-wrap {
  margin: 0 20px 0 20px;
  position: absolute;
  z-index: 2;
}
.hero-main-wrap h3 {
  color: white;
  font-size: 3rem;
  font-family: Oswald, Arial, Helvetica, sans-serif;
  font-family: 300;
  letter-spacing: 0.3rem;
}
