.hero-main-wrap {
  margin-top: 20px;
  margin-left: 20px;
  position: absolute;
  z-index: 2;
}
.hero-main-wrap h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #52c8cf;
}
