.userdash-wrap {
  width: 80%;
  margin: auto;
  margin-top: 100px;
  padding-bottom: 60px;
  background: linear-gradient(
    269.13deg,
    rgba(168, 224, 255, 0.56) 1.51%,
    rgba(168, 224, 255, 0.1512) 99.25%
  );
}
.userdash-list {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  overflow: hidden;
}
